<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-shite" v-bind:class=" { 'navbarOpen': show }">

        <div class="container">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" @click.stop="toggleNavbar()">
                <span class="navbar-toggler-icon"></span>
            </button>



                <!-- Left Side Of Navbar -->

               <ul class="navbar-nav">
                    <li class="shopping_icon">
                        <img src="../../../assets/ShoppingCart.svg" alt="">
                    </li>
                    <li>
                        <p class="p-0 m-0 price_tag_line">
                            34,000
                        </p>
                        <p class="p-0 m-0 sub_text">
                            Shopping Cart
                        </p>
                    </li>
                    <li>
                    </li>
                </ul>


                <div class="collapse justify-content-center navbar-collapse" id="navbarSupportedContent" v-bind:class="{ 'show': show }">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 header_navbar">
                        <li class="nav-item px-2">
                            <a class="nav-link" href="#">About Us</a>
                        </li>
                        <li class="nav-item px-2">
                            <a class="nav-link" href="#">Orders</a>
                        </li>
                        <li class="nav-item px-2">
                            <a class="nav-link" href="#" >Cart</a>
                        </li>
                        <li class="nav-item px-2">
                            <a class="nav-link" href="#">Account</a>
                        </li>
                        <li class="nav-item px-2">
                            <a class="nav-link" href="#">Vendors</a>
                        </li>
                        <li class="nav-item px-2  dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Shop
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item px">
                            <a class="nav-link" href="#" >Home</a>
                        </li>
                    </ul>
                </div>

                <!-- Right Side Of Navbar -->
                <ul class="navbar-nav">
                    <li class="header_logo">
                        <img src="../../../assets/MaxStore-Logo.png" alt="">
                    </li>
                </ul>


        </div>

    </nav>
</template>


<style lang="scss">
    @import 'resources/sass/header/main-header.scss';
</style>

<script>
export default {
    data() {
        return {
            show: false
        }
    },

    methods: {
        toggleNavbar() {
            this.show = !this.show;
        }
    }

}
</script>
