<template>
    <nav class="navbar top-header navbar-expand-sm shadow-sm">
        <div class="container">

                <!-- Left Side Of Navbar -->
                <ul class="navbar-nav d-flex flex-row">
                    <li>
                        <i class="p-1 fa fa-user"></i>
                    </li>
                    <li class="nav-item">
                        <a class="p-0 nav-link">Login</a>
                    </li>
                    <li>
                        <span class="p-1">/</span>
                    </li>
                    <li class="nav-item">
                        <a class="p-0 nav-link">Register</a>
                    </li>
                </ul>

                <!-- Right Side Of Navbar -->
                <ul class="navbar-nav d-flex flex-row">
                    <li>
                        {{tagLine}}
                    </li>
                </ul>

        </div>
    </nav>
</template>

<style lang="scss">
    @import 'resources/sass/header/top-header.scss';
</style>

<script>
    import TestingService from '../../services/testingService';

    const testService = new TestingService();

    testService.printConsole();

    export default {
        props: {
            tagLine: {
                type: String,
                default: 'Top Bar Tagline Here'
            }
        },

        mounted() {
            console.log('Top Header mounted.')
        }
    }
</script>
