<template>
    <div class="container p-0">

        <!--  *********************** TOP BANNER AREA ************************** -->

        <div class="row justify-content-start">
            <div class="col-2 pr-0">
                <div class="row">
                    <div class="col-12 home-side-banner">
                        <banner :img-src="[require('../../assets/WebsiteDemoMainBanner1Image.png')]"></banner>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 home-side-banner">
                        <banner :img-src="[require('../../assets/WebsiteDemoMainBanner2Image.png')]"></banner>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 home-side-banner">
                        <banner :img-src="[require('../../assets/WebsiteDemoMainBanner3Image.png')]"></banner>
                    </div>
                </div>
            </div>
            <div class="col-8 home-main-banner">
                <div class="px-1">
                    <banner :img-src="mainBanner"></banner>
                </div>
            </div>
            <div class="col-2 p-0 all_cat_div">
                <category-list></category-list>
            </div>
        </div>

        <!--  *********************** ON SALE ITEMS AREA ************************** -->

        <div class="row py-1">
            <div class="col-12 on-sale-items">
                <item-box></item-box>
            </div>
        </div>

        <!--  *********************** FEATURED BANNER AND FEATURED ITEMS AREA ************************** -->

        <div class="row py-2">

            <!--  *********************** FEATURED BANNER  ************************** -->

            <div class="col-6 pl-0">
                <banner :img-src="[require('../../assets/WebsiteShopBanner1.png')]"></banner>
            </div>

            <!--  *********************** FEATURED ITEMS  ************************** -->

            <div class="col-6 pr-0">
                <item-box></item-box>
            </div>

        </div>

        <!--  *********************** CATEGORIES AREA START  ************************** -->

        <div class="category-boxes">
            <div class="row">
                <div class="col-12">
                    
                </div>
            </div>
        </div>

    </div>
</template>

<style lang="scss">
    @import "resources/sass/home.scss";
</style>

<script>

    export default {

        data() {
            return {
                mainBanner: [
                    require('../../assets/WebsiteDemoMainSliderImage.png'),
                    require('../../assets/WebsiteDemoMainSliderImage.png')
                ]
            }
        },

        mounted() {
            console.log('Home Component mounted.')
        }
    }
</script>
