<template>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">Category 1</a>
        <a href="#" class="list-group-item list-group-item-action">Category 2</a>
        <a href="#" class="list-group-item list-group-item-action">Category 3</a>
        <a href="#" class="list-group-item list-group-item-action">Category 4</a>
        <a href="#" class="list-group-item list-group-item-action">Category 5</a>
        <a href="#" class="list-group-item list-group-item-action">Category 6</a>
        <a href="#" class="list-group-item list-group-item-action">Category 7</a>
        <a href="#" class="list-group-item list-group-item-action">Category 8</a>
        <a href="#" class="list-group-item list-group-item-action">Category 9</a>
        <a href="#" class="list-group-item list-group-item-action view-all">View All Categories</a>
    </div>
</template>

<script>
    export default {
        name: "CategoryListComponent"
    }
</script>

<style scoped>
    .view-all {
        color: #F77F1E;
    }
</style>
