<template>
    <div class="img-container">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active"  v-for="(image,idx) in imgSrc" :class="{ active: idx === 0 }">
                    <img :src="image" alt="First slide">
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped lang="scss">

    .img-container {
        width: 100%;
        height: 100%;

        img {
            object-fit: cover;
            border-radius: 10px;
            width: 100%;
            height: 100%;
        }

    }

</style>

<script>
    export default {
        props: ['imgSrc'],


        mounted() {
            console.log('Top Header mounted.')
        }
    }
</script>
