<template>
    <div class="item-box mb-3">
        <div class="row">
            <div class="col-6">
                <p class="p-0  m-4">
                    View All
                    <i class="fa fa-forward"></i>
                </p>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <p class="p-0 m-4 box-heading">
                    Sale Items
                </p>
            </div>
        </div>
        <div class="row px-4">
            <div class="col-3 p-0" style="max-width: 200px">
                <item-wrapper></item-wrapper>
            </div>

            <div class="col-3 p-0" style="max-width: 200px">
                <item-wrapper></item-wrapper>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ItemBoxComponent"
    }
</script>

<style scoped>
     .item-box {
         border-radius: 12px;
         height: 100%;
         background-color: #ffffff;
     }

    .box-heading {
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0;
        color: #131414;
    }
</style>
